Thank you for signing up to host an Avalon Hills fellowship group.

<form ng-submit="$ctrl.saveHost()">
    <form-line>
        <label>Name</label>
        <input type="text">
    </form-line>
    <form-line>
        <label>Street</label>
        <input type="text">
    </form-line>
    <form-line>
        <label>Zip</label>
        <input type="text">
    </form-line>
    <form-line>
        <label>Capacity</label>
        <input type="text">
    </form-line>
    <form-line>
        <label>Week Day</label>
        <input type="text">
    </form-line>
    <form-line>
        <label>Start Time</label>
        <input type="text">
    </form-line>
    <button>Sign Up</button>
</form>
