body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  box-sizing: border-box;
}

input[type="text"], input[type="number"], input[type="phone"], input[type="email"]{
  padding: 7px;
  font-size: 1em;
  border-radius: 3px;
  border: solid 1px #ccc;
}
