@mixin header{
  background: black;
  color: white;
  position: fixed;
  top: 0;
  padding: 10px;
  left: 0;
  right: 0;
  text-align: center;
  box-sizing: border-box;
}

@mixin withHeader{
  padding-top: 42px;
}

header{
  @include header;
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  box-sizing: border-box;
}

input[type], select{
  padding: 7px;
  font-size: 1em;
  border-radius: 3px;
  border: solid 1px #ccc;

  &.ng-invalid.ng-not-empty{
    border: solid 1px #d34836;
    background: lighten(#d34836, 40%);
  }
}

button{
  border: solid 1px darken(dodgerblue, 10%);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
  padding: 7px 9px;

  &[disabled]{
    background: #eee;
    border-color: #eee;
  }
}
