<div>
    <description>
        You are hosting the <b>{{$ctrl.settings.name}}</b> Group
        on <b>{{$ctrl.settings.weekday}}</b> at <b>{{$ctrl.settings.hour}}:{{$ctrl.settings.minute}}
        {{$ctrl.settings.dayTime}}</b> and you've asked people to bring <b>{{$ctrl.settings.bring}}</b>.
    </description>
    <button ng-click="$ctrl.editing = true">Edit Settings</button>
</div>
<respondants>
    <span ng-hide="$ctrl.respondants">
        <message>No participants yet</message>
        <img src="img/coffee.jpg">
        <large>Relax</large>
    </span>
</respondants>
