<div>
    <description ng-hide="$ctrl.settings.groupDisabled">
        You are hosting the <b>{{$ctrl.settings.name}}</b> Group
        on <b>{{$ctrl.getDayDisplay($ctrl.settings.weekday)}}</b> at <b>{{$ctrl.settings.hour}}:{{$ctrl.settings.minute}}
        {{$ctrl.settings.dayTime}}</b> and you've asked people to bring <b>{{$ctrl.settings.bring}}</b>.
    </description>
    <description ng-show="$ctrl.settings.groupDisabled">
        Your group is not available this month.  To make it available, edit the group settings.
    </description>
    <button ng-click="$ctrl.editing = true">Edit Settings</button>
</div>
<respondants ng-hide="$ctrl.settings.groupDisabled">
    <span ng-show="$ctrl.attenders.length === 0">
        <message>No participants yet</message>
        <img src="img/coffee.jpg">
        <large>Relax</large>
    </span>
    <attender ng-repeat="attender in $ctrl.attenders">
        <name>{{attender.attending.name}} ({{attender.attending.count}})</name>
        <bringing ng-show="attender.attending.bringing">Bringing: {{attender.attending.bringing}}</bringing>
    </attender>
</respondants>
<button ng-show="$ctrl.settings.groupDisabled" class="large" ng-click="$ctrl.enableGroup(true)">Make group Available</button>
