<form ng-submit="$ctrl.saveSettings()">
    <form-line>
        <label>Name</label>
        <input type="text" required ng-model="$ctrl.settings.name">
    </form-line>
    <form-line>
        <label>Street</label>
        <input ng-blur="$ctrl.validateAddress()" type="text" required ng-model="$ctrl.settings.street">
    </form-line>
    <form-line>
        <label>Zip</label>
        <input ng-blur="$ctrl.validateAddress()" type="number" required pattern="\d{5}" max-length="5" ng-model="$ctrl.settings.zip">
    </form-line>
    <form-line>
        <label>Capacity</label>
        <input type="number" required ng-model="$ctrl.settings.capacity" placeholder="number of people" type="text">
    </form-line>
    <form-line>
        <label>Week Day</label>
        <select ng-model="$ctrl.settings.weekday" required ng-options="day for day in $ctrl.dayOptions"></select>
    </form-line>
    <form-line>
        <label>Start Time</label>
        <input-group>
            <select ng-model="$ctrl.settings.hour" required ng-options="hour for hour in $ctrl.hourOptions"></select>
            <select ng-model="$ctrl.settings.minute" required ng-options="hour for hour in $ctrl.minuteOptions"></select>
            <select ng-model="$ctrl.settings.dayTime" required ng-options="hour for hour in $ctrl.dayTimeOptions"></select>
        </input-group>
    </form-line>
    <form-line>
        <label>Bring</label>
        <input ng-model="$ctrl.settings.bring" type="text" placeholder="dessert, food, drinks">
    </form-line>
    <button ng-disabled="!$ctrl.goodAddress">Save Group</button>
    <address-status ng-show="$ctrl.addressStatusClass" ng-class="$ctrl.addressStatusClass">
        <i class="fa" ng-class="$ctrl.addressStatusIcon"></i> {{$ctrl.addressStatus}}
    </address-status>
</form>
