<div>
    <a ui-sref="control">Setup</a>
    <span class="emphasize">
        We have {{$ctrl.getVolunteerCount()}} volunteers (and {{$ctrl.getPotentialCount()}} potential) filling {{$ctrl.getPositionCount()}} positions with {{$ctrl.getNeededCount()}} open
    </span>
</div>
<ministry ng-repeat="ministry in $ctrl.ministries | orderBy:['order','name']" ng-dblClick="$ctrl.ministry = ministry; $ctrl.editingMinistry = true;">
    <heading>
        <div>{{ministry.name}} <span class="muted">({{ministry.$ownerName.substring(0, ministry.$ownerName.indexOf(' ') + 2)}})</span></div>
        <div>{{ministry.$volunteers.filled}} of {{ministry.$volunteers.needed}}</div>
    </heading>
    <position ng-repeat="position in $ctrl.positions | filter:{ministryId: ministry.$id}" ng-dblClick="$ctrl.position = position; $ctrl.editingPosition = true; $event.stopPropagation()">
        <heading>{{position.name}}
            <span ng-click="$ctrl.ministry = ministry; $ctrl.addingVolunteer = true; $ctrl.volunteer.positionId = position.$id;">
                <i class="fas fa-plus-square"></i>
            </span>
        </heading>
        <volunteer ng-mouseover="$ctrl.highlight(volunteer)"
                   ng-mouseout="$ctrl.unHighlight(volunteer)"
                   ng-dblclick="$ctrl.ministry = ministry; $ctrl.editVolunteer(volunteer); $event.stopPropagation();"
                   ng-class="{'highlight': volunteer.$highlight, 'inactive': !volunteer.active}"
                   ng-repeat="volunteer in $ctrl.volunteers | filter:{positionId: position.$id} | orderBy:['-isPOC','-active','name']">
            <div>
                <span ng-class="{'emphasize': volunteer.isPOC}">{{volunteer.name}}</span>
                <div class="muted">
                    <div>
                        <span ng-show="volunteer.lastServed">
                            last served: {{$ctrl.lastServed(volunteer)}}
                        </span>
                    </div>
                    <div>
                        <span ng-show="volunteer.started">
                            {{$ctrl.getEndDate(volunteer)}}
                        </span>
                    </div>
                </div>
            </div>
            <i class="fas mood-{{volunteer.active ? volunteer.mood : 'inactive'}}" ng-class="volunteer.active ? volunteer.mood : 'fa-question'"></i>
        </volunteer>
        <volunteer-need ng-repeat="need in $ctrl.getNeeds(position) track by $index" ng-dblClick="$ctrl.ministry = ministry; $ctrl.addingVolunteer = true; $ctrl.volunteer.positionId = position.$id; $event.stopPropagation()">

        </volunteer-need>
    </position>
</ministry>
<editor ng-show="$ctrl.addingVolunteer">
    <form ng-submit="$ctrl.addVolunteer($ctrl.volunteer)">
        <label>Name</label>
        <input ng-model="$ctrl.volunteer.name" type="text">
        <label>E-mail</label>
        <input ng-model="$ctrl.volunteer.email" type="text">
        <label class="margin-bottom-10"><input type="checkbox" ng-model="$ctrl.volunteer.active"> Active</label>
        <label class="margin-bottom-10"><input type="checkbox" ng-model="$ctrl.volunteer.isPOC"> Point of Contact</label>
        <span ng-show="$ctrl.volunteer.active">
            <label>Commitment</label>
            <select ng-options="commitmentOption.key as commitmentOption.text for commitmentOption in $ctrl.positionCommitmentOptions" ng-model="$ctrl.volunteer.commitment" type="text"></select>
            <label>Started</label>
            <input firebase-date type="date" ng-model="$ctrl.volunteer.started" type="text">
            <label>Last Served</label>
            <input firebase-date type="date" ng-model="$ctrl.volunteer.lastServed" type="text">
            <label>Mood</label>
            <div>
                <i ng-repeat="mood in $ctrl.moods" ng-click="$ctrl.volunteer.mood = $ctrl.volunteer.mood === mood ? null : mood" ng-class="{'selected': $ctrl.volunteer.mood === mood}" class="fas mood-{{mood}} {{mood}}"></i>
            </div>
        </span>
        <span ng-hide="$ctrl.deleting">
            <button type="submit">Save</button>
            <button type="reset" ng-click="$ctrl.addingVolunteer = false">Cancel</button>
        </span>
        <span class="pull-right" ng-show="$ctrl.volunteer.$id">
            <button type="button" ng-hide="$ctrl.deleting" ng-click="$ctrl.deleting = true">Delete</button>
            <button type="button" ng-show="$ctrl.deleting" ng-click="$ctrl.removeVolunteer($ctrl.volunteer)">Confirm?</button>
            <button type="button" ng-show="$ctrl.deleting" ng-click="$ctrl.deleting = false">NO!</button>
        </span>
    </form>
</editor>
<editor ng-show="$ctrl.editingMinistry">
    <form class="margin-top-15" ng-submit="$ctrl.saveMinistry($ctrl.ministry)">
        Ministry Name:
        <input ng-model="$ctrl.ministry.name" type="text" />
        Order:
        <input ng-model="$ctrl.ministry.order" type="number" />
        Ministry Owner:
        <select ng-model="$ctrl.ministry.ownerId" ng-options="owner.$id as owner.name for owner in $ctrl.ministryOwners"></select>
        Ministry Description:
        <textarea ng-model="$ctrl.ministry.description"></textarea>
        <button type="submit">Save</button>
        <button type="reset" ng-click="$ctrl.editingMinistry = false">Cancel</button>
    </form>
</editor>
<editor ng-show="$ctrl.editingPosition">
    <form ng-submit="$ctrl.savePosition($ctrl.position)">
        Ministry:
        <select ng-model="$ctrl.position.ministryId" ng-options="ministry.$id as ministry.name for ministry in $ctrl.ministries"></select>
        Position Name:
        <input ng-model="$ctrl.position.name" type="text" />
        Responsibilities:
        <textarea ng-model="$ctrl.position.responsibilities"></textarea>
        Accept Commitments For:
        <label ng-repeat="commitmentOption in $ctrl.commitmentOptions"><input type="checkbox" ng-model="$ctrl.position.commitmentOptions[commitmentOption.key]">{{commitmentOption.name}}</label>
        <label class="margin-top-15">Minimum Needed: {{$ctrl.position.minNeeded}}</label>
        <input ng-model="$ctrl.position.minNeeded" type="range" min="1" max="20" ng-init="$ctrl.position.minNeeded = $ctrl.position.$id ? $ctrl.position.minNeeded : 1">
        <label>Times a Month: {{$ctrl.position.monthly}}</label>
        <input ng-model="$ctrl.position.monthly" type="range" min="1" max="4" ng-init="$ctrl.position.monthly = $ctrl.position.$id ? $ctrl.position.monthly : 4">
        <button type="submit">Save</button>
        <button type="button" ng-click="$ctrl.position = {}; $ctrl.editingPosition = false">Cancel</button>
    </form>
</editor>
