<header>
    <button ng-if="$root.user" class="left" ng-click="$ctrl.logout()">Log Out</button>
    Find an Avalon Group
    <button class="right muted" ng-click="$ctrl.goHome()">Home</button>
</header>
<ng-map ng-if="$root.user" id="map" zoom="11" center="{{$ctrl.userLocation}}" on-click="$ctrl.unselectGroup()" zoom-to-include-markers="auto" map-type-control="false">
    <marker on-click="$ctrl.displayGroup(group)" ng-repeat="group in $ctrl.groups" position="{{group.position}}" title="{{group.name}}" animation="Animation.DROP"></marker>
</ng-map>
<span ng-if="$root.user" ng-include="'views/group-info.html'"></span>
<login ng-if="!$root.user"></login>
