<header>
    <button ng-if="$root.user" class="right" ng-click="$ctrl.logout()">Log Out</button>
    Find an Avalon Group
    <button ng-if="!$root.guestMode" class="left muted" ng-click="$ctrl.goHome()">Home</button>
</header>
<display-control>
    <button ng-click="$ctrl.toggleDisplay()">
        Show as {{$ctrl.displayType === 'map' ? 'List' : 'Map'}}
    </button>
</display-control>
<ng-map styles="[{featureType:'poi',stylers:[{ visibility: 'off' }]}]"
        ng-if="$root.user && $ctrl.showMap && $ctrl.displayType === 'map'"
        id="map"
        center="{{$ctrl.userLocation}}"
        zoom="10"
        on-click="$ctrl.unselectGroup()"
        map-type-control="false">
    <marker on-click="$ctrl.displayGroup(group)" ng-repeat="group in $ctrl.groups" position="{{group.position}}" title="{{group.name}}" animation="Animation.DROP"></marker>
    <marker position="5728 Indian River Road, 23464" title="Avalon Hills" icon="{url: 'img/church.png', scaledSize:[32,32], anchor: [16,16]}"></marker>
</ng-map>
<group-list ng-if="$root.user && $ctrl.displayType === 'list'">
    <group ng-repeat="group in $ctrl.groups" ng-click="$ctrl.displayGroup(null, group)">
        <name>{{group.settings.name}}</name>
        <date>{{$ctrl.getDayDisplay(group.settings.weekday)}} @ {{group.settings.hour}}:{{group.settings.minute}} {{group.settings.dayTime}}</date>
        <button>Details</button>
    </group>
</group-list>
<span ng-if="$root.user" ng-include="'views/group-info.html'"></span>
<login ng-if="!$root.user"></login>
