find{
  ng-map {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 42px;
    bottom: 0;
  }

  group-info{
    position: absolute;
    max-height: 0;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    background: white;
    z-index: 1;
    transition: .25s;
    padding: 0 20px;
    overflow: hidden;

    &.show{
      max-height: 100vh;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      padding-top: 42px;
    }

    h1{
      font-size: 1.4em;
      color: #555;
      border-bottom: solid 1px #ccc;

      i{
        color: #d34836;
        float: right;
      }
    }

    & > .muted{
      padding: 2px 5px;
      font-size: .8em;
      margin-top: 4px;
      color: black;
      border-radius: 4px;
      background: #eee;
    }

    attenders, sign-up{
      display: block;
      margin-top: 15px;

      section-header{
        font-weight: bold;
        display: block;
        border-bottom: solid 1px #ccc;
        margin-bottom: 10px;
      }
    }
    attenders{
      margin-bottom: 15px;

      attender{
        display: block;
        margin-bottom: 5px;
      }
    }

  }
}
