@import '../../../assets/scss/body';

login {
  @include withHeader;
  display: block;
  width: 100%;
  text-align: center;
  overflow: auto;

  @media (min-width: 600px) {
    width: 500px;
    margin: auto;
  }

  & > div:first-child{
    margin: 10px 0;
    padding-bottom: 10px;
  }

  .divider{
    margin-bottom: 10px;
  }

  top-buttons{
    display: block;
    background: #888;
    width: 100%;
    margin-bottom: 20px;

    button{
      background: #555;
      width: 50%;
      font-size: 1.2em;
      padding: 20px;
      border: 0;
      border-radius: 0;
      box-sizing: border-box;
      outline: none !important;

      &:first-child{
        border-right: solid 1px darken(#555, 10%);
      }
    }
  }

  google, facebook{
    display: inline-block;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
  }

  google{
    background: #d34836;
    color:white;
  }

  facebook{
    background: #3b5998;
    color: white;
  }

  button.warn{
    background: #ffad2d;
    border-color: darken(#ffad2d, 10%);
  }

  form{
    input{
      margin-bottom: 5px;
      width: 80%;
    }
    button-group{
      transition: .25s;
      max-height: 50px;
      display: block;
      overflow: auto;
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 10px;
      overflow: hidden;

      &.hide{
        max-height: 0;
      }
    }

    confirm{
      display: block;
      overflow: hidden;
      max-height: 0px;
      transition: .5s;
      margin-bottom: 10px;

      &.show{
        max-height: 300px;
      }
    }

    button{
      box-sizing: border-box;
      width: 40%;
      font-size: 1rem;
      padding: 10px 0;
      margin: 5px 0 0 0;
    }
  }
}
