<group-info ng-class="{'show': $ctrl.selectedGroup}">
    <h1>{{$ctrl.selectedGroup.settings.name}} <i class="fa fa-times-circle-o" ng-click="$ctrl.unselectGroup()"></i></h1>
    <b>{{$ctrl.getDayDisplay($ctrl.selectedGroup.settings.weekday)}} @ {{$ctrl.selectedGroup.settings.hour}}:{{$ctrl.selectedGroup.settings.minute}} {{$ctrl.selectedGroup.settings.dayTime}}</b>
    <div><a ng-href="http://maps.google.com/?daddr={{$ctrl.selectedGroup.settings.street}}, {{$ctrl.selectedGroup.settings.zip}}">{{$ctrl.selectedGroup.settings.street}}, {{$ctrl.selectedGroup.settings.zip}}</a></div>
    <div>Spots Left: {{$ctrl.selectedGroup.settings.capacity - $ctrl.totalAttending}}</div>
    <div ng-show="$ctrl.selectedGroup.settings.bring"><b>Bring</b>: {{$ctrl.selectedGroup.settings.bring}}</div>
    <div class="muted" ng-if="$ctrl.selectedGroup.settings.notes">Note: {{$ctrl.selectedGroup.settings.notes}}</div>

    <sign-up>
        <form name="signupform" ng-submit="$ctrl.saveSignUp()">
            <section-header>Attend</section-header>
            <form-line ng-hide="$root.guestMode">
                <label>Sign Up</label>
                <button type="button" ng-click="$ctrl.attending = true" ng-class="{'off': !$ctrl.attending}">Yes</button>
                <button type="button" ng-click="$ctrl.attending = false" ng-class="{'off': $ctrl.attending}">No</button>
            </form-line>
            <form-line>
                <label ng-disabled="!$ctrl.attending">Name</label>
                <input type="text" ng-disabled="!$ctrl.attending" required ng-model="$ctrl.signUp.name">
            </form-line>
            <form-line>
                <label ng-disabled="!$ctrl.attending">How Many</label>
                <input type="number" ng-disabled="!$ctrl.attending" required ng-model="$ctrl.signUp.count">
            </form-line>
            <form-line>
                <label ng-disabled="!$ctrl.attending">Bringing</label>
                <input type="text" ng-disabled="!$ctrl.attending" ng-model="$ctrl.signUp.bringing">
                <button type="submit" ng-disabled="$ctrl.attending && !signupform.$valid">Save</button>
            </form-line>
        </form>
    </sign-up>

    <attenders>
        <section-header>Attending</section-header>
        <span class="muted" ng-show="$ctrl.attenders.length === 0">Be the first to sign up!</span>
        <attender ng-repeat="attender in $ctrl.attenders">
            <b>{{attender.attending.name}}</b>
            ({{attender.attending.count}})
            <span ng-if="attender.attending.bringing">
                Bringing: {{attender.attending.bringing}}
            </span>
        </attender>
    </attenders>
</group-info>
